@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* VARIAVEIS */
:root {
    --cor-aba: #3A5FCD;
    --cor-aba-selec: #27408B;
}

body {
    background-color: rgba(218, 217, 217, 0.582);
}

table {
    margin: 30px;
    border-collapse: collapse;
    background-color: rgb(201, 197, 197);
    color: rgb(10, 10, 10);
}
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

/* ABA */

.TabControl{ 
    width:100%; 
    height:650px;
    margin: 8px;
}
.TabControl #header{ 
    width:100%;
    overflow:hidden; 
    cursor:hand;
}
.TabControl #content{ 
    width:100%;
    height:100%;
    border-radius: 5px;
    overflow: scroll;
}
.TabControl .abas{
    display:inline;
}
.TabControl .abas li{
    float:left;
}
.aba{
    width:160px; 
    height:30px; 
    border-radius:8px 8px 0 0;
    text-align:center; 
    padding-top:5px;
    margin-left: 1px;
    background:var(--cor-aba);
    cursor: pointer;
}
.aba:hover{
    background:var(--cor-aba-selec);
}
.ativa span, .selected span{
    color:#fff;
}
.TabControl #content{
    background:var(--cor-aba-selec);
}
.TabControl .conteudo{
    width:100%;  
    background:var(--cor-aba-selec); 
    display:none;
    align-items: center;
    justify-content: center;
    height:100%;
    color:#fff;
}
.selected{
    background:var(--cor-aba-selec);
}
